[run]
source =
    ./src/tox_poetry

[report]
omit =
    # omit .tox venv files
    .tox/*
    # omit .poetry venv files
    */.cache/pypoetry/*
    # omit .pre-commit config
    .pre-commit-config.yaml
    # omit .flake8 config
    .flake8

exclude_lines =
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if False:
    if None:

sort = -cover
