# editors files
.vscode

# virtualenv files, e.g. pyenv
.python-version

# packages
sdist
build
dist
src/*/__pycache__

# tests, coverages
tests/*.pyc
tests/__pycache__

.pytest_cache
.tox
.coverage

# docs build folder
docs/build/*
docs/source/_build/*
docs/source/conf.py

# other hidden files/dirs
